*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #e0e9ee;
}


/* body */

body{
  font-family: 'Open Sans';
  background-color: var(--page-background);
}

/* header */
header{
  height: 50vh;
  color: #fff;
  text-align: center;
  
  background-color: var(--blue);
}

h1{
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

p{
  max-width: 26rem;
  margin: auto;
}

